<div class="bg"><%= image_tag("bg.jpg", alt: "bg", class: "img-responsive") %></div>
<div class="center jumbotron">
	<h1>Bolão do brasileirão 2017</h1>
	<h2>
		Bem vindos! Ao Bolão do brasileirão 2017
	</h2>

	<%= link_to "Cria uma conta agora", signup_path, class: "btn btn-lg btn-success" %>
</div>