<div class="bg"></div>
<div class="jumbotron">
  <h1>App Bets</h1>
  <h2>
    Bem vindos ao site AppBets cadastre-se e faça suas apostas em bolões de futebol
  </h2>
  <%= link_to "Criar uma conta agora", cadastro_path, class: "btn btn-success" %>
</div>
