<% provide(:title, "Login") %>
<h1>Login</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Lembrar-me neste computador</span>
      <% end %>

      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>

    <p>Ainda não tem uma conta? <%= link_to "Crie uma conta agora!", signup_path %></p>
  </div>
</div>
