<h1>Bol達o do brasileir達o 2017</h1>

<p>
  Oi <%= @user.name %>,
</p>

<p>
  Bem vindo ao Bol達o do brasileir達o! Clique no link abaixo para ativar sua conta
</p>
<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
