<% provide(:title, "Editar perfil") %>
<% provide(:button_text, "Salvar alterações") %>
<h1>Editar perfil</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Alterar</a>
    </div>
  </div>
</div>
