<% provide(:title, "Criar conta") %>
<% provide(:button_text, "Cria minha conta") %>
<h1>Cria conta</h1>
<div class="row">
  <div class="col-md-4  col-md-offset-4">
    <%= render 'form' %>
  </div>
</div>
