<footer class="footer">
	<small>
		Bolão do brasileirão 2017 &copy; todos os direitos reservados design by Estevam
	</small>
	<nav>
		<ul>
			<li><%= link_to "Regras", about_path %></li>
			<li><%= link_to "Contatos", contact_path %></li>
			<li><a href="http://globoesporte.globo.com/" target="_blanck">Nóticias</a></li>
		</ul>
	</nav>
</footer>