<footer class="footer">
  <small>
    Todos os direitos reservados &copy; 2017 App Bets
  </small>
  <nav>
    <ul>
      <li><%= link_to "Regras", regras_path %></li>
      <li><%= link_to "Contatos", contatos_path %></li>
      <li><a href="http://globoesporte.globo.com/" target='_blank'>Nóticias de esportes</a></li>
    </ul>
  </nav>
</footer>
