<header class="navbar navbar-fixed-top navbar-inverse">
  	<div class="container">
  		<%= link_to "Bolão do brasileirão 2017", root_path, id: "logo" %>
  		<nav>
  			<ul class="nav navbar-nav navbar-right">
  				<li><%= link_to "Home", root_path %></li>
  				<li><%= link_to "Ajuda", help_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Usuários", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Conta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sair", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
  				<li><%= link_to "Login", login_path %></li>
          <% end %>
  			</ul>
  		</nav>
  	</div>
</header>
